
/*
 * Torrents
 */

.torrents-scene .torrents-list-item {
	height: 100px
}

.torrents-scene .torrents-list-item .torrents-list-title  {
  padding: 3px 14px 0px 0px;
  margin: 0px;
  font-size: 20px;
  height: 26px;
}

.torrents-scene .torrents-list-item .palm-info-text.left {
  padding: 0px;
  margin: 0px 8px;
  line-height: 16px;
}

/*
 * Torrent Details
 */

.torrentDetails-scene .torrentDetails-list-item {
	height: 100px
}

.torrentDetails-scene .torrentDetails-list-title  {
  padding: 6px 14px 0px 0px;
  margin: 0px;
  font-size: 20px;
  height: 26px;
}

.torrentDetails-scene .torrentDetails-list-item .palm-info-text.left {
  padding: 0px;
  margin: 0px 8px;
  line-height: 16px;
}


/*
 * Help
 */
 
.help-scene .help-body ul{
	font-size: 16px;
}

.help-scene .help-bold {
	color: red;
	font-weight: bold;
}

.help-scene .help-bold a{
	color: red;
	font-weight: bold;
}