/*asdf */

.KTorrentTouch,
.KTorrentTouch .enyo-bg {
	background: #191C26;
	color: white;
}

.enyo-toolbar {
	background-color: #0B0B3B;
	color: white;
}

.enyo-popup {
	width: 320px;
	color: black;
}

.header {
	padding: 10px;
	background: #ccc;
	border: 1px solid gray;
	z-index: 10;
	margin-bottom: 4px;
}

.kttHostsListWrapper .enyo-header-inner {
	padding: 2px 16px;
	height: 50px;
}

.headerPrefsButton {
	height: 45px;
	line-height: 40px;
	width: 30px;
	/*margin-top: 0px;
	margin-bottom: 0px;*/
	/*padding-top: -10px;
	padding-bottom: -10px;*/
}

.headerPrefsButton .enyo-button-icon{
	padding-left: 5px;
	margin-left: -13px;
}

.enyo-menu-button-header-client {
	text-align: center;
}

.kttHostsList {
	padding: 8px;
	background: lightblue;
	border: 3px solid blue;
}

.fullhostname {
	text-align: left;
}

.fullusername{
	text-align: right;
	font-size: smaller;
}

.kttTorrentsListWrapper .enyo-header-inner {
	padding: 2px 16px;
	height: 50px;
}

.kttTorrentsListWrapper .torrentname{
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipses;
}

.kttTorrentDetailsWrapper .enyo-header-inner {
	padding: 2px 16px;
	height: 50px;
}

.kttTorrentDetailsWrapper .filenames {
	font-size: smaller;
}

.kttPreferencesWrapper .enyo-header-inner {
	padding: 2px 16px;
	height: 50px;
}

.footer {
	padding: 8px;
	background: white;
	border: 3px solid purple;
	z-index: 10;
}

.name {
	font-size: 16px;
}

.value {
	font-size: 16px;
	padding-top: 2px;
}

.label {
	text-transform: uppercase;
	color:rgb(31,117,191);
	font-size: 14px;
	padding-top: 2px;
}

.torrentsList{
	font-size: 16px;
}

.hostsList .selected,
.torrentsList .selected {
	background-color: rgba(255,255,255,0.15);
}

