<div class="torrentDetails-scene">

<div id="header-menu" class="palm-header">
        <div id="scene-title" class="truncating-text">Torrent Details</div>
</div>

<div class="palm-header-spacer"></div>


<div class="title" id="name-title"></div>


<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="torrentDetails-group-title">Torrent Details</div>
   
   <div class="palm-list">
	
	
	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="total_bytes-label">total size</div>
			<div class="title" id="total_bytes-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="bytes_downloaded-label">downloaded</div>
			<div class="title" id="bytes_downloaded-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="bytes_uploaded-label">uploaded</div>
			<div class="title" id="bytes_uploaded-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="download_rate-label">download rate</div>
			<div class="title" id="download_rate-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="upload_rate-label">upload rate</div>
			<div class="title" id="upload_rate-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="seeders-label">seeders</div>
			<div class="title" id="seeders-title"></div>
		</div>
    </div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="leechers-label">leechers</div>
			<div class="title" id="leechers-title"></div>
		</div>
    </div>

  </div>
</div>


<div class="palm-group" id="people-group">
	<div class="palm-group-title" id="people-group-title">Files</div>
   
	<div class="palm-list">

		<div x-mojo-element="List" id="filesList"></div>
	
	</div>
	
</div>


<div id="debug-text"></div>

</div>